body {
    height: 100vh;
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif; 
    display: flex; 
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    margin-left: 200px;
}

ul {
    list-style-type: none;
    color: #e5e7eb; 
    font-size: 18px; 
    padding: 0;
    display: flex;
    gap: 16px; 
    margin-right: 200px; 
}

.footer {
    display: flex; 
    background-color:#1f2937;
    justify-content: center;
    align-items: center;
    color:#e5e7eb;
    padding :16px;
}


.page {
    display: flex; 
    flex: 1; 
    flex-direction: column; 
    margin-top: 48px; 
    margin-bottom: 48px;   
}

.banner {
    display: flex;  
    background-color: #1f2937;
    padding: 100px; 
    justify-content: space-evenly;
}

.banner-left {
    display: flex; 
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    gap: 18px
}

#sign-up {
    align-content: center;
    padding: 5px 20px;  
    background-color: #3882f6;
    border-radius: 8px;
    overflow: hidden;
    border: hidden; 
    color:#e5e7eb; 
    font-weight: bold;
}

#sign-up:hover  {
    background-color: #669aee;
}

.banner-left, .banner-right {
    width: 400px; 
    height: 250px; 
}

.headline {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subhead {
    font-size: 18px; 
    color:#e5e7eb; 
}

.button-box {
    width: fit-content; 
}

.content-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900; 
    color:#1f2937; 
}

.box-1, .box-2, .box-3, .box-4 {
    display: flex; 
    justify-content: center;
    text-align: center; 
    flex-wrap: wrap;
    width: 200px; 
    gap: 8px
}

.box-wrapper {
    display: flex;
    justify-content: center;
    gap: 52px; 
    margin-top: 48px; 
    margin-bottom: 48px;
}

.quote-section {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 50vh; 
    background-color:#e5e7eb;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; 
    width: 650px;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
}

figcaption {
    position: absolute;
    bottom: 0; 
    right: 0; 
    font-weight: bold;
}

.quote, figcaption {
    margin: 45px; 
}

.cta-wrapper {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.cta-box {
    display: flex; 
    margin-top: 48px;
    gap: 200px;
    background-color:#3882f6;
    padding: 48px; 
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
}

#cta-sign-up {
    border:2px solid #e5e7eb; 
    align-content: center;
    padding: 5px 20px;  
    background-color: #3882f6;
    border-radius: 8px;
    overflow: hidden;
    color:#e5e7eb; 
    font-weight: bold;
}

#cta-sign-up:hover {
    background-color: #669aee;
}

.cta-headline {
    font-size: 18px;
    font-weight: bold;
    color:#e5e7eb; 
}

.cta-text {
    color:#e5e7eb; 
}
